{% extends "arches_urls.htm" %}

{% load static %}
{% load l10n %}
{% load i18n %}

{% block arches_urls %}
{{ block.super }}
<div class="arches-urls"
    api-search="{% url 'api-search' %}"
    api-file-data="{% url 'api-file-data' %}"
    api-settings="{% url 'api-settings' %}"
    api-map-data="{% url 'api-map-data' %}"
    api-feature-buffer="{% url 'api-feature-buffer' %}"
    api-geojson-bounds="{% url 'api-geojson-bounds' %}"
    api-resource-bounds='(resourceid)=>{ return "{% url "api-resource-bounds" "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa" %}".replace("aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa", resourceid)}'
    api-resource-geojson='(resourceid)=>{ return "{% url "api-resource-geojson" "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa" %}".replace("aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa", resourceid)}'
    api-list-item-details='(itemid)=>{ return "{% url "api-list-item-details" "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa" %}".replace("aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa", itemid)}'
></div>
{% endblock arches_urls %}
